.content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки по умолчанию */
  gap: 16px; /* Отступы между карточками */
  margin: 20px;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin:16px;
  background: #c00b0b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /*Animate*/
  transition: transform 0.5s ease, opacity 0.8s ease; /* Плавный переход для анимации */
  z-index: 1; /* Убедитесь, что карточка находится выше других элементов */
  transform-origin: center; /* Центрируем точку увеличения */
}

.card.expand {
  position: fixed;
  transform: scale(1); /* Увеличиваем карточку*/
  top: 0;
  left: 0;
  width: 100%; /* Занимаем всю ширину экрана */
  height: 100%; /* Занимаем всю высоту экрана */
  z-index: 1000; /* Увеличиваем z-index для отображения поверх других элементов */

  opacity: 1; /*Прозрачность*/
}

.card:not(.expand){
  opacity: 0.8s;
}
  
  .card-title {
    font-size: 18px;
    margin: 8px 0;
  }
  
  .card-description {
    font-size: 14px;
    color: #666;
  }
  
  .card-media img, .card-media video {
    max-width: 100%;
    border-radius: 8px;
  }
  

.fade-out{
  animation: fadeOut 0.5s forwards;
}

@keyframes fade-out {
  from{
    opacity: 1;
  } to {
    opacity: 0;
  }
}