html{
    background-color: 2A2A2A;
}


.header{
    height: 80px;


    font-size: 40px;
    border-radius: 10px;
    background-color: 863A94;
}


.sideBar{
    width: 140px;
    height: 600px;
    background-color: 343434;

    border-radius: 10px;

    font-size: 22px;
}

.canvas{

}